.nav-item {
  box-shadow: none;
  text-decoration: none;
  color: #666666;
}
.nav-item:hover {
  color: #999999;
}
.activeNavItem {
  color: #000000;
}
.nav-header {
  box-shadow: none;
  text-decoration: none;
  color: #000000;
}
